distribution/*
!distribution/distribution.c
!distribution/distribution.sh
empleats/*
!empleats/empleats.c
hierarchy/*
!hierarchy/clock.c
!hierarchy/clock.h
!hierarchy/fcyc2.c
!hierarchy/fcyc2.h
!hierarchy/hierarchy.c
matriuAxB/*
!matriuAxB/mult1.c
!matriuAxB/mult2.c
!matriuAxB/mult3.c
munge_vectors/*
!munge_vectors/clock.c
!munge_vectors/clock.h
!munge_vectors/munge_vectors8.c
!munge_vectors/munge_vectors16.c
!munge_vectors/munge_vectors32.c
!munge_vectors/munge_vectors64.c
rgb/*
!rgb/rgb.c
swap/*
!swap/swap.c
